.sidebarr {
  width: 30%;
  border: 1px solid;
}
.sidebarr .container2 {
  display: none !important;
}

.main-product-area {
  width: 80%;
  padding: 0 22px;
}
.main-product-area .containers {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}
.main-product-area .containers .container1 {
  width: 50%;
  height: 100%;
}
.main-product-area .containers .container1 .img-box {
  width: 100%;
  height: 55%;
  overflow: hidden;
}
.main-product-area .containers .container1 .img-box img {
  width: 100%;
  height: 100%;
  transform-origin: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.main-product-area .containers .container1 .box2 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.main-product-area .containers .container1 .box2 .img {
  width: 19%;
  height: 35%;
  border: 1px solid;
  margin-left: 4px;
  margin-top: 4px;
  border: 1px solid silver;
  background-color: #F7F7F7;
}
.main-product-area .containers .container1 .box2 .img:hover {
  border: 1px solid red;
  cursor: pointer;
}
.main-product-area .containers .container1 .box2 .img img {
  width: 100%;
}
.main-product-area .container2 {
  padding: 0 20px;
}
.main-product-area .container2 .part1 {
  width: 100%;
  height: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-product-area .container2 .boxes {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.main-product-area .container2 .boxes .box1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 13px;
}
.main-product-area .container2 .boxes .box2 {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 13px;
}
.main-product-area .container2 .stars img {
  width: 12px;
  height: 12px;
}
.main-product-area .container2 .val strong {
  font-size: 22px;
  color: #EA3A3C;
}
.main-product-area .container2 .val del {
  color: silver;
  font-size: 13px;
}
.main-product-area .container2 .size-chart {
  display: flex;
  width: 100px;
  border: 1px solid;
  align-items: center;
}
.main-product-area .container2 .size-chart:hover .img2 {
  display: block;
}
.main-product-area .container2 .size-chart:hover span {
  color: #EA3A3C;
  cursor: pointer;
}
.main-product-area .container2 .size-chart span {
  margin-left: 25px;
}
.main-product-area .container2 .size-chart img {
  width: 20px;
  height: 20px;
  position: absolute;
}
.main-product-area .container2 .size-chart .img2 {
  display: none;
}
.main-product-area .container2 .part2 {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
}
.main-product-area .container2 .part2 input {
  width: 80px;
  height: 40px;
  font-size: 20px;
  border: 1px solid gray;
}
.main-product-area .container2 .part2 .add {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.main-product-area .container2 .part2 .add .box1 {
  width: 40%;
  height: 100%;
  background-color: #EA3A3C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.main-product-area .container2 .part2 .add .box1:hover {
  background-color: #f41518;
}
.main-product-area .container2 .part2 .social-media-icons {
  margin-top: 20px;
}
.main-product-area .container2 .part2 .social-media-icons img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.main-product-area .container2 .part2 .social-media-icons img:hover {
  transform: translateY(-3px);
}
.main-product-area .container2 .part2 .pay {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.main-product-area .container2 .part2 .pay .images {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-product-area .container2 .part2 .pay img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: 0.3s;
}
.main-product-area .container2 .part2 .pay img:hover {
  filter: opacity(80%);
}
.main-product-area .container2 .part2 .pay .images2 {
  display: flex;
}
.main-product-area .container2 .part2 .pay .images2 img {
  width: 60px;
  height: 30px;
}

.containerr3 {
  width: 100%;
  height: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.containerr3 p {
  font-size: 15px;
}
.containerr3 .container3-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
}
.containerr3 .container3-header .box {
  width: 14%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.containerr3 .container3-header .box1 {
  background-color: #FF3C20;
  color: white;
}
.containerr3 .container3-header .box2 {
  background-color: #F7F7F7;
  color: black;
}
.containerr3 .container3-header .box2:hover {
  color: #FF3C20;
}
.containerr3 .container3-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.containerr3 .container3-main .box {
  width: 100%;
  height: 25%;
}
.containerr3 .container3-main .box3 {
  margin-bottom: 50px;
}
.containerr3 .container3-main .box4 {
  height: 30%;
}
.containerr3 .container3-main1 {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  border-radius: 1px solid;
  display: none;
  top: 10%;
}
.containerr3 .container3-main1 .box1 {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.containerr3 .container3-main1 .box1 p {
  font-size: 20px;
}
.containerr3 .container3-main1 .box1 a {
  color: silver;
  font-size: 12px;
}/*# sourceMappingURL=product1.css.map */